
My skills/Python/Logging/custom-log.log
My skills/Python/Logging/scripts.log
scripts.log
Automation Skills/Working With Excel Sheets/Automate_the_Boring_Stuff_3e_onlinematerials.zip
Automation Skills/Working With Excel Sheets/Automate_the_Boring_Stuff_2e_onlinematerials.zip
