<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Polls</title>
</head>
<body>
    <h1>Welcome to Polls</h1>
    <small >kindly select the polls to interact with</small><br>
    {% if question_list %}
        {% for question in question_list %}
            <a href="{% url 'detailpage' question.id %}">{{question.question}}</a>
            <br>
        {% endfor %}
    {% else %}
        <p>No polls are available</p>
    {% endif %}
</body>
</html>