{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthManager | Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=cloud_lock"/>
    <script src="https://kit.fontawesome.com/85cb9b2643.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'authentication/Styles/login.css' %}">
</head>
<body>
    <div class="parent-container">
        <div class="main-login-section">
            <div class="login-header">
                <h2 class="login-header-title">Auth<span>Manager</span> <span class="material-symbols-outlined">cloud_lock</span></h2>
                <h3 class="login-header-subtitle">Welcome Back</h3>
                <p>Login into your Account</p>
            </div>
            <form action="" class="login-form-section">
                <div class="username">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="password">
                    <label for="password">Username</label>
                    <input type="password" id="username" name="password" placeholder="Enter your password" required>
                </div>
                <div class="form-assistance-section">
                    <div class="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">Remember Me</label>
                    </div>
                    <p class='forgotten-password'>Forgotten password ? <a href="#">Click Here</a></p>
                </div>
                <button class="login-btn">Login</button>
            </form>
            <div class="alternate-form-actions">
                <button class='google-signin-option'>
                    <img src={% static "authentication/assets/images/google-logo.png" %} alt="google logo">
                    Continue with Google
                </button>
                <p class="sign-up-option"> Dont have an account ? <a href="#"> Signup for free</a></p>
            </div>
        </div>
        <div class="login-banner-image">
            <div class="overlay"></div>
            <img src="{% static 'authentication/assets/images/Application-Security.jpeg' %}" alt="Login Banner Image">
            <div class="login-banner-image-text">
                <h2>Secure your credentials</h2>
                <p>AuthManager is a secure and easy to use password manager that helps you keep your credentials safe.</p>
                <button>Learn More</button>
            </div>
        </div>
    </div>
</body>
</html>