@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  --color-banko-primary:#02403D;
  --color-banko-bg:#f5f5f5;
  --color-facebook-blue: #316ff6;

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

@utility scrollbar-hide{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer components {
  .btn {
    @apply py-1.5 px-3  bg-[#316ff6] rounded-lg text-white capitalize w-max h-[64px] flex items-center justify-center mx-auto my-1 text-lg font-semibold;
  }
  .field{
    @apply flex flex-col gap-0.5;
  }
  .field-label{
    @apply text-xs block text-gray-700 font-semibold;
  }
  .input-field{
    @apply w-full h-[48px] border border-gray-300 py-1 px-2 text-base font-semibold rounded-md outline-none hover:border-gray-400 focus:border-gray-400 transition-all duration-200;
  }

  .nav-ico{
    @apply text-sm flex items-center justify-center rounded-full h-[32px] w-[32px] bg-transparent border-2 border-gray-700 relative dark:border-gray-300 dark:text-white 
  }
  .notification-badge{
    @apply absolute top-0 right-[-2px] h-2 w-2 bg-red-500 rounded-full;
  }
  .card{
    @apply p-3 bg-white h-[140px] rounded-lg
  }
  .income-card{
    @apply flex justify-between
  }
  .card-details{
    @apply h-full basis-5 flex flex-col items-center justify-between
  }
  .income-change{
    @apply w-fit h-fit px-1 py-[1px] border-green-200 border-[1px] bg-green-100 flex items-center justify-center text-green-950 font-semibold rounded-md
  }
  .link-item{
    @apply flex items-center gap-3 text-gray-600 text-xs font-bold cursor-pointer hover:bg-[#02403D] hover:text-white p-2 rounded-md transition-all duration-200 font-[Poppins] dark:text-white dark:hover:text-white;
  }
  .link-item > *{
    @apply hover:text-white
  }

}